.contact_section {
  padding-bottom: 40px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.animation {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-family: 'Lucida Handwriting';
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 14px;
}
.author {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.author span {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}
.version {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.version span {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.date {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.date span {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}
.contact_text {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.contact_text span {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.icon_wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: baseline;
  margin-top: 8px;
}
.docker_text {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.5);
}
