.animation {
  height: 300px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  animation: fadeIn 0.5s ease-in-out;
}

/* Animacja fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .animation {
    height: 200px;
  }
}
