.link {
  text-decoration: none;
  color: #212121;
}

.header {
  margin-top: 16px;
  margin-bottom: 20px;
  color: #52565e;
  font-weight: 600;
  text-transform: uppercase;
}

.tool_container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.search_input {
  margin-bottom: 30px;

}

.loading_container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  width: 10%;
}

.error_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}



/* Media Queries */
@media only screen and (max-width: 600px) {
  .tool_container {
    padding: 10px;
  }
}
