.header {
  margin-top: 16px;
  display: flex;
  flex-wrap: nowrap;
}

.nav_link {
  cursor: pointer;
}

.supplierForm_wrapper {
  margin-top: 20px;
}

.supplierFrom_details_container {
  border-radius: 8px;
  padding: 20px 30px 20px 30px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  margin-top: 50px;
}

.supplierFrom_details_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 40px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 8px;
  color: #a09f9f;
  text-align: center;
}

.form_wrapper {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.form_wrapper_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}
.tag_wrapper {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tag_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.animation {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
