.header {
  margin-top: 16px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
}
.search_input {
  margin-bottom: 30px;
}
.supplierList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}
.animation {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .animation {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .animation {
    display: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .animation {
    display: revert;
    height: 100px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .animation {
    display: revert;
    height: 100px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .animation {
    display: revert;
    height: 100px;
  }
}
