.header {
  margin-top: 16px;
  display: flex;
  flex-wrap: nowrap;
}
.search_input {
  margin-bottom: 30px;
}
.supplierList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  gap: 16px;
}
