.header {
  margin-top: 16px;
  display: flex;
  flex-wrap: nowrap;
}

.nav_link {
  cursor: pointer;
}

.supplierForm_wrapper {
  margin-top: 20px;
}

.supplierFrom_details_container {
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  flex-grow: 3;
}

.supplierFrom_details_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;
  color: #a09f9f;
  text-align: center;
}

.tag_wrapper {
  margin-bottom: 16px;
}
.tag_icon {
  position: relative;
  top: 14px;
}

.tag_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tag_item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1ecec;
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tag_item:hover {
  background-color: #cadfdf;
}

.tag_list_icon {
  margin-left: 8px;
}
.btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
