.supplierItem_info_container {
  background-color: rgba(255, 255, 255, 0.95);
  border: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  width: 290px;
}
.action_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.supplierItem_info_logo {
  width: 100px;
  height: 100px;
  margin: 16px auto;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.supplierItem_info_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}

.supplierItem_info_name {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #0e1214;
}
.supplierItem_info_company_name {
  font-size: 14px;
  margin-bottom: 8px;
  color: #546065;
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.editIcon {
  padding: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.editIcon:hover {
  color: #0089c7;
  opacity: 1;
}

.deleteIcon {
  padding: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.deleteIcon:hover {
  color: #0089c7;
}
.tagList_wrapper {
  margin-top: 30px;
}

.tagList_header {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  color: gray;
  display: flex;
  justify-content: flex-start;
}
.tagList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.tag_item {
  background-color: #e1ecec;
  color: #767676;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.supplierItem_info_position {
  font-size: 16px;
  margin-bottom: 8px;
  color: #546065;
}
.supplierItem_info_phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 14px;
  margin-bottom: 8px;
  color: #546065;
}
