.link {
  text-decoration: none;
  color: black;
}
.header {
  margin-top: 16px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  color: #52565e;
  font-weight: 600;
  text-transform: uppercase;
}
