.header {
  margin-top: 16px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
}
.animation {
  margin: 0 auto;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
.wtc_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  background-color: #fff;
  border-radius: 10px;
  padding: 100px 20px 20px 20px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: auto;
  margin-bottom: 30px;
}
.data_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.waste_form {
  display: flex;
  gap: 5px;
  margin-bottom: 30px;
  justify-content: center;
}
.waste_list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .animation {
    height: 150px;
  }
  .wtc_wrapper {
    margin-top: 110px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .animation {
    height: 150px;
  }
  .wtc_wrapper {
    margin-top: 70px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .animation {
    height: 200px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .animation {
    height: 200px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .animation {
    height: 200px;
  }
}
