.main_container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: calc(100% - 250px);
  padding: 20px;
  transition: all 0.3s ease-in-out;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: auto;
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .main_container {
    left: 55px;
    width: calc(100% - 55px);
  }
}

@media only screen and (min-width: 600px) {
  .main_container {
    left: 250px;
  }
}

.navHidden {
  left: 0;
  width: 100%;
}
