.header {
  margin-top: 16px;
  margin-bottom: 40px;
}
.link {
  text-decoration: none;
  color: red;
}

.alert_cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.alert_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 300px;
  width: 200px;
  transition: all 0.1s ease-in-out;
  text-align: center;
  padding: 0 20px;
  position: relative;
  margin-top: 10px;
  background-color: #f4f8fb;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.alert_card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.alert_card:hover .alert_value {
  font-size: 28px;
}

.alert_text {
  font-size: 15px;
  color: #4a4a4a;
  margin-top: 40px;
}
.alert_value {
  font-size: 24px;
  font-weight: 800;
  color: #4a4a4a;
  margin-top: 20px;
  transition: all 0.1s ease-in-out;
}
.alert_value span {
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
  margin-top: 20px;
}
