.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  opacity: 0.25;
}

.icon:hover {
  opacity: 1;
}

/* Media Queries */
@media only screen and (max-width: 390px) { /* iPhone 12/13 Mini, iPhone 15 pionowo */
  .icon {
    right: 10px;
    top: 10px;
  }
}

@media only screen and (min-width: 3840px) { /* Telewizory 4K */
  .icon {
    right: 30px;
    top: 30px;
  }
}