.button {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 15px;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  font-size: 16px;
  font-family: 'Roboto';
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.button:active {
  transform: translate(1px, 1px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.animation {
  height: 35px;
}

.message {
  flex-grow: 1;
  text-align: left;
}

/* Media Queries */
@media only screen and (max-width: 390px) { /* iPhone 12/13 Mini, iPhone 15 pionowo */
  .button {
    height: 50px;
    padding: 0 10px;
    font-size: 14px;
  }
  .animation {
    height: 30px;
  }
}

@media only screen and (max-width: 844px) and (orientation: landscape) { /* iPhone 12/13 Mini, iPhone 15 poziomo */
  .button {
    height: 55px;
    padding: 0 12px;
  }
}

@media only screen and (min-width: 3840px) { /* Telewizory 4K */
  .button {
    height: 80px;
    padding: 0 20px;
    font-size: 20px;
  }
  .animation {
    height: 50px;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}