.img_wrapper {
  width: auto;
  height: 150px; /* Ustalona wysokość kontenera */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.img {
  max-width: 100%; /* Ustalamy maksymalną szerokość obrazu */
  max-height: 100%; /* Ustalamy maksymalną wysokość obrazu */
  object-fit: contain; /* Zachowujemy proporcje obrazu */
}
