.line {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin-bottom: 20px;
  margin-top: 20px;
}
.order_container {
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
}
.order_general_info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 10px;
}

.order_header {
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2px;
  color: #52565e;
  margin-bottom: 20px;
}
.header {
  margin-top: 16px;
  margin-bottom: 20px;
}
.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
.form_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  flex-wrap: wrap;
}
.send_icon {
  margin-top: 8px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}
.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  overflow-y: auto;
  max-height: 500px;
}

.list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f5fafe;
  backdrop-filter: blur(10px);
  border: 1px solid #4d91f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
  cursor: pointer;
  width: 700px;
}

.list_item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.item_name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  color: #175cd3;
  overflow: hidden;
}
.item_quantity {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  color: #175cd3;
  font-size: 18px;
}
.item_price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  color: #175cd3;
  overflow: hidden;
}
.btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.6);
  gap: 10px;
}
.total_price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  color: #52565e;
  overflow: hidden;
}

.total_price_value {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  color: #52565e;
  overflow: hidden;
  margin-left: 20px;
}

.animation {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translate(-50%, -50%);
}

.action_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .order_container {
    margin-top: 60px;
  }
  .order_general_info {
    flex-direction: column;
    align-items: stretch;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .animation {
    height: 100px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .animation {
    height: 150px;
    top: -25px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .animation {
    height: 150px;
    top: -25px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .animation {
    height: 200px;
    top: -20px;
  }
  .order_general_info {
    margin-top: 40px;
  }
}
