.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 450px;

  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.modal_animation {
  height: 100px;
}
.modal_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.modal_image_container {
  display: flex;

  flex-direction: column;
}
.modal_image {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.modal_image_delete_btn {
  cursor: pointer;
  padding-top: 8px;
  box-sizing: content-box;
}
