.material_item {
  width: 300px;
}
.material_item_img {
  height: 140px;
}
.material_item_content {
  height: 90px;
}
.icon {
  margin-left: 60px;
  cursor: pointer;
}
.icon:hover {
  color: rgb(25, 118, 210);
}
