.header {
  margin-top: 16px;
  margin-bottom: 20px;
}
.cnc_jobs_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.cnc_active_jobs {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e2e1ec;
  min-height: 150px;
  position: relative;
  padding: 30px;
}
.cnc_in_progess_jobs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  margin-top: 50px;
  justify-content: center;
}
.cnc_completed_jobs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e2e1ec;
  min-height: 150px;
  position: relative;
  margin-top: 30px;
  padding: 30px;
}
.baca_I {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  border-radius: 10px;
  border: 1px solid #e2e1ec;
  position: relative;
  min-height: 200px;
  width: calc(50% - 10px);
  padding: 30px;
}
.baca_II {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  border-radius: 10px;
  border: 1px solid #e2e1ec;
  position: relative;
  min-height: 150px;
  width: calc(50% - 10px);
  padding: 30px;
}
.section_header {
  position: absolute;
  top: -9px;
  left: 15px;
  color: #4a4a4a;
  font-size: 14px;
  background: #fafafa;
  padding: 0 5px;
  display: flex;
}

.img {
  width: auto;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  top: -50px;
  right: 10px;
}
.item_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
}
.item_list_baca {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  margin-top: 20px;
}
.item {
  background-color: #f4f5f7;
  border-radius: 8px;
  padding: 10px;
  color: #4a4a4a;
  font-size: 14px;
}
