.main_container {
  position: absolute;
  left: 250px;
  top: 60px;
  bottom: 0;
  right: 0;
  width: 10%;
  height: calc(100% - 60px);
  padding: 20px;
  transition: all 0.3s ease-in-out;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  background-color: #fafafa;
}

@media only screen and (max-width: 600px) {
  .main_container {
    left: 55px;
    width: calc(100% - 55px);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main_container {
    left: 250px;
    width: calc(100% - 250px);
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main_container {
    left: 250px;
    width: calc(100% - 250px);
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main_container {
    left: 250px;
    width: calc(100% - 250px);
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main_container {
    left: 250px;
    width: calc(100% - 250px);
  }
}
