.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.header {
  margin-top: 16px;
  margin-bottom: 20px;
}

.production_header {
  /* Jeśli nie ma dodatkowych stylów, można pozostawić pustą klasę lub usunąć */
}

.production_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  gap: 20px;
}

.nc_programs_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 20px;
  width: 100%;
}

.nc_programs_row {
  display: flex;
  flex-wrap: wrap; /* Zmieniono na wrap zamiast nowrap */
  justify-content: center; /* Zmieniono z center na flex-start dla lepszego rozmieszczenia */
  align-items: center;
  padding: 0;
  gap: 5px; /* Dodano odstęp między elementami */
  min-height: 190px; /* Przeniesiono min-height tutaj z inline stylu */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.placeholder {
  color: #888;

  text-align: center;
  padding: 20px;
}

.nc_programs_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 290px;
  height: 190px;
  border-radius: 10px;
  background-color: #fff;
  margin: 5px;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease,
    scale 0.2s ease; /* Dodano efekt przejścia dla transformacji */
  cursor: grab; /* Domyślny kursor - otwarta rączka */
}

/* Opcjonalnie: efekt przy najechaniu */
.nc_programs_item:hover {
  cursor: grab; /* Zachowujemy otwartą rączkę przy najechaniu */
  scale: 1.05; /* Powiększenie elementu */
}

.nc_programs_item_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  width: 100%;
  gap: 8px;
}

.nc_programs_item_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.nc_program_text {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  font-size: 14px;
  color: gray;
  white-space: nowrap;
}

.backgroundMill {
  background-color: rgba(25, 118, 210, 0.1);
}

.backgroundTurn {
  background-color: rgba(255, 153, 1, 0.1);
}

.production_queue_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
}

.machines_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  gap: 30px;
  height: auto;
}

.machine_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 400px;
  border-radius: 10px;
  gap: 10px;
  flex-grow: 1;
}

.machine_card img {
  width: auto;
  height: 125px;
}

.machine_programs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 340px;
  min-height: 240px; /* Przeniesiono min-height tutaj z inline stylu */
  transition: all 0.2s ease;
  gap: 5px;
}
