.navSidebar_container {
  width: 250px;
  height: 100%;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
    #121212;
  padding: 30px 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
}
.navSidebar_container::-webkit-scrollbar {
  width: 6px;
}

.navSidebar_container::-webkit-scrollbar-track {
  background-color: #121212;
}

.navSidebar_container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.animation {
  margin: 0 auto;
  width: 65px;
}

.navSidebar_header {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 14px;
  color: white;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.navSidebar_list {
  margin-top: 60px;
  margin-bottom: 30px;
  list-style: none;
}

.navSidebar_list li {
  width: 100%;
  cursor: pointer;
  transition: 0.05s all ease-in-out;
  display: flex;
  padding: 20px 16px;
  cursor: pointer;
}

.navSidebar_list li:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
    #414040;
  transform: scale(1.05);
}

.navSidebar_list li button {
  margin-left: 30px;
  color: white;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.link {
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navSidebar_container {
    left: 0;
    width: 55px;
  }
  .navSidebar_header {
    opacity: 0;
  }
  .animation {
    margin: 0 auto;
    width: 55px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navSidebar_container {
    width: 250px;
  }
  .navSidebar_header {
    display: revert;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
