.header {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 16px;
  margin-bottom: 20px;
}

.link {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.project_main_info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 300px;
  width: calc(25% - 20px);
  padding: 30px;
  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.1),
    0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  color: rgb(0, 75, 80);
  background-color: #fff;
}

.project_img {
  margin-bottom: 10px;
}

.project_title {
  font-size: 26px;
  font-weight: 800;
  color: #4a4a4a;
}

.project_title span {
  font-size: 16px;
  color: #4a4a4a;
}

.project_text {
  font-size: 16px;
  color: #4a4a4a;
}

.project_value_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}

.project_value {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  z-index: 3;
}

.chart_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.project_value_rate {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 75, 80);
  gap: 10px;
  padding: 20px;
  min-width: 300px;
  width: calc(100% / 4 - 40px);
  border-radius: 16px;
  height: 125px;
  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.1),
    0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.project_value_number {
  font-size: 26px;
  font-weight: 800;
  color: #4a4a4a;
}

.project_value_number span {
  font-size: 14px;
  color: #4a4a4a;
}

.project_value_title {
  font-size: 16px;
  font-weight: 800;
  color: #4a4a4a;
}

.chart_wrapper {
  position: relative;
  top: -60px;
}
.chart {
  height: 600px;
  width: 600px;
}
.project_table_wrapper {
  position: relative;
  top: -200px;
  padding: 10px;
}

.project_status_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .chart {
    height: 500px;
    width: 500px;
  }
}

@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
