.pending {
  padding: 5px 0;
  width: 100px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #ffa733;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
}

.finieshed {
  padding: 5px 0;
  width: 100px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #8bc34a;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
}
