.link {
  text-decoration: none;
}

.header {
  margin-top: 16px;
  margin-bottom: 20px;
  color: #52565e;
  font-weight: 600;
  text-transform: uppercase;
}

.accessorie_container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.search_input {
  margin-bottom: 30px;
}

/* Media Queries */
@media only screen and (max-width: 390px) { /* iPhone 12/13 Mini, iPhone 15 pionowo */
  .accessorie_container {
    padding: 10px;
    gap: 10px;
  }
  .header {
    font-size: 14px;
  }
  .search_input {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 844px) and (orientation: landscape) { /* iPhone 12/13 Mini, iPhone 15 poziomo */
  .accessorie_container {
    padding: 15px;
    gap: 12px;
  }
  .header {
    font-size: 16px;
  }
}

@media only screen and (min-width: 3840px) { /* Telewizory 4K */
  .accessorie_container {
    padding: 40px;
    gap: 24px;
  }
  .header {
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 30px;
  }
  .search_input {
    margin-bottom: 40px;
  }
}