.animation {
  height: 300px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  animation: fadeIn 0.5s ease-in-out;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .animation {
    height: 200px;
  }
}
