.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
.header {
  margin-top: 16px;
  margin-bottom: 20px;
}
.search_input {
  margin-bottom: 30px;
}
.material_container {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  width: 100%;
}
