.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 500px;

  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal_animation {
  height: 100px;
  margin-bottom: 20px;
}

.modal_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
