.material_item {
  width: 300px;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
}
.material_item:hover {
  transform: scale(1.025);
}

.material_item_content {
  height: 115px;
}
.icon {
  margin-left: 170px;
  cursor: pointer;
}
.icon:hover {
  color: rgb(25, 118, 210);
}
.value {
  font-size: 0.875rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 8px;
}
.value_text {
  font-size: 0.7rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
