.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 450px;

  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.modal_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.edit_modal_animation {
  height: 150px;
}
.modal_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.modal_image_container {
  display: flex;

  flex-direction: column;
}

.upload_image_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.upload_image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  height: 50px;
}

.modal_image_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 8px;
}
.close_icon {
  cursor: pointer;
}

.error_message {
  color: #d32f2f;
  font-weight: 400;
  font-size: 12px;
  margin-top: 8px;
}
.error_border {
  border: 1px solid #d32f2f;
}
@media only screen and (max-width: 600px) {
  .modal {
    width: 400px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .modal {
    width: 400px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .modal {
    width: 450px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .modal {
    width: 450px;
  }
}
