.table_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}
.table {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-x: auto;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px #e0e0e0;
  border-collapse: collapse;
}

.thead {
  font-size: 14px;
  font-weight: 500;

  letter-spacing: 0.5px;
}

.thead tr {
  height: 48px;
  background-color: #f5f5f5;
}

.thead tr th {
  padding: 0 24px;
  border-bottom: 1px solid #e0e0e0;
}

.animation {
  width: 500px;
  margin: 0 auto;
}

tbody {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

tbody tr {
  height: 48px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}
tbody tr:hover {
  background-color: #f5f5f5;
}

tbody tr td {
  padding: 0 24px;
}

.no_data {
  cursor: default;
}

.no_data:hover {
  background-color: #fff;
}
