@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: bold;
}

.login_container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  width: 400px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
  padding: 30px;
  position: relative;
}
.login_animation {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.login_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.5em;
  color: #52565e;
}
.login_content {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .login {
    width: 300px;
  }
  .login_animation {
    width: 200px;
    height: 200px;
  }
  .login_title {
    font-size: 20px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .login {
    width: 350px;
  }
  .login_animation {
    width: 200px;
    height: 200px;
  }
  .login_title {
    font-size: 20px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .login {
    width: 400px;
  }
  .login_animation {
    width: 250px;
    height: 250px;
  }
  .login_title {
    font-size: 24px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .login {
    width: 400px;
  }
  .login_animation {
    width: 250px;
    height: 250px;
  }
  .login_title {
    font-size: 24px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .login {
    width: 400px;
  }
  .login_animation {
    width: 250px;
    height: 250px;
  }
  .login_title {
    font-size: 24px;
  }
}
