@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: bold;
}

.login_container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../../assets/cnc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login {
  width: 600px;
  padding: 80px 20px 20px 20px;
  position: relative;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
}
.loginanimation {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  letter-spacing: 12px;
  color: #52565e;
}
.login_content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login_error {
  color: #d9534f;
  background-color: #f2dede;
  border: 1px solid #d9534f;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .login {
    width: 300px;
  }
  .login_animation {
    width: 200px;
    height: 200px;
  }
  .login_title {
    font-size: 20px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .login {
    width: 350px;
  }
  .login_animation {
    width: 200px;
    height: 200px;
  }
  .login_title {
    font-size: 20px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .login {
    width: 400px;
  }
  .login_animation {
    width: 250px;
    height: 250px;
  }
  .login_title {
    font-size: 24px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .login {
    width: 400px;
  }
  .login_animation {
    width: 250px;
    height: 250px;
  }
  .login_title {
    font-size: 24px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .login {
    width: 450px;
  }
  .login_animation {
    width: 250px;
    height: 250px;
  }
  .login_title {
    font-size: 24px;
  }
}
