.navSidebar_container {
  width: 250px;
  height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #121212;

  padding: 30px 0;
  overflow: hidden;
}
.navSidebar_header {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.5em;
  color: white;
}

.navSidebar_list {
  margin-top: 60px;
  margin-bottom: 30px;
  list-style: none;
}

.navSidebar_list li {
  width: 100%;
  cursor: pointer;
  transition: 0.05s all ease-in-out;
  display: flex;
  padding: 20px 16px;
  cursor: pointer;
}

.navSidebar_list li:hover {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #414040;
  transform: scale(1.05);
}

.navSidebar_list li button {
  margin-left: 30px;
  color: white;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
