@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto'),
    url('../src/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Lucida Handwriting';
  src: local('Lucida Handwriting'),
    url('../src/fonts/LucidaHandwriting/LucidaHandwritingStdThin.TTF');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fafafb inset; /* Tutaj ustaw kolor tła */
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url('assets/wallpaper.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
}
