.header_container {
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  height: 70px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 4px;
  padding: 0 20px;
}

.icon {
  margin-right: 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out;
}

.icon:hover { opacity: 1; }

/* Media Queries */
@media only screen and (max-width: 390px) { /* iPhone 12/13 Mini, iPhone 15 pionowo */
  .header_container {
    height: 60px;
    padding: 0 10px;
  }
  .icon {
    margin-right: 10px;
    font-size: 14px; /* Dodano dla lepszej kontroli rozmiaru */
  }
}

@media only screen and (max-width: 844px) and (orientation: landscape) { /* iPhone 12/13 Mini, iPhone 15 poziomo */
  .header_container {
    height: 50px; /* Zmniejszona wysokość dla widoku poziomego */
    padding: 0 15px;
  }
  .icon {
    margin-right: 15px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 3840px) { /* Telewizory 4K */
  .header_container {
    height: 100px;
    padding: 0 40px;
    margin-top: 8px;
  }
  .icon {
    margin-right: 30px;
    font-size: 20px; /* Powiększona ikona dla dużych ekranów */
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}