.header_container {
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  height: 70px;
  
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 4px;
  padding: 0 20px;

}

.icon {
  margin-right: 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out;
}

.icon:hover { opacity: 1; }

@media only screen and (max-width: 600px) {
  .header_container { height: 60px; padding: 0 10px; }
  .icon { margin-right: 10px; }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .header_container { padding: 0 15px; }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header_container { padding: 0 20px; }
}

@media only screen and (min-width: 992px) {
  .header_container { padding: 0 30px; }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}