.header_container {
  position: fixed;
  left: 250px;
  top: 0;
  width: calc(100% - 250px);
  height: 70px;
  background-color: transparent;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.3s ease-in-out;
}
.cart_container {
  position: relative;
}
.icon {
  margin-right: 20px;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0.8;
}
.icon:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .header_container {
    left: 55px;
    width: calc(100% - 55px);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header_container {
    width: calc(100% - 250px);
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
